<section>
    <div class="container ">
        <div class="row  d-flex justify-content-center text-center tetx-white">
            <div class="col-md-4 ">
                <div class="py-5">
                    <h3 class="py-3">LOCATION</h3>
                    <p>2215 John Daniel Drive <br>
                        Clark, MO 65243</p>
                </div>

            </div>

            <div class="col-md-4   ">
                <div class="py-5">
                    <h3 class="py-3">AROUND THE WEB </h3>
                    <div class=" py-2 d-flex  align-items-center justify-content-center">

                        <div class="icon fas"><i class="fa-brands fa-facebook-f "></i></div>
                        <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                        <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                        <div class="icon"><i class="fa-solid fa-basketball"></i></div>

                        
                    </div>
                </div>

            </div>

            <div class="col-md-4 ">
                <div class="py-5">
                    <h3 class="py-3">ABOUT FREELANCER</h3>
                    <h5 class="px-4">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center ">
        <p class="text-center text-white bg-dark  py-3 m-0 mt-5 ">Copyright © Your Website 2021</p>
    </div>
</section>