<section id="CONTACT">
    <div class="">
        <div class=" py-4 d-flex justify-content-center align-items-center flex-column">
            <div class="py-2">
                <h2 class="fw-bold">CONTACT ME</h2>
            </div>
            <div class="icon">
                <i class="fa-solid fa-star fs-1"></i>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 ">
                    <form>
                        <div class="my-4">
                            <input class="form-control" type="text" placeholder="Name" />
                        </div>

                        <div class="my-4">
                            <input class="form-control" type="email" placeholder="Email Address" />
                        </div>

                        <div class="my-4">
                            <input class="form-control" type="number" placeholder="Phone Number" />
                        </div>

                        <div class="my-4">
                            <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                        </div>

                        <div class="my-5"><button class="btn">Send</button></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>