<div class="test"></div>
<header class="text-center vh-100 text-white d-flex align-items-center">
    <div class="container d-flex align-items-center flex-column ">
        <div class="startImg py-2">
            <img src="assets/img/avataaars.svg" class="w-100 h-100"   alt="">
        </div>
        <div class="startTxt ">
            <h1 class="txt fw-bold">START ANGULAR</h1>
        </div>
        <div class="icon">
            <i class="fa-solid fa-star fs-1"></i>
        </div>
        <div class="py-3">
            <h3>Graphic Artist - Web Designer - Illustrator</h3>
        </div>
    </div>
</header>


