<div id="PORTFOLIO">
    <div class="layarBox d-none" id="layarBox">
        <div class="box">
            <div class="closeIcon fw-bold">
                <i class="fa-solid fa-x " (click)="unshow()"></i>
            </div>
            <div class="py-4  d-flex justify-content-center align-items-center flex-column">
                <div class="py-2">
                    <h2 class="">CONTROLLER</h2>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-star fs-1"></i>
                </div>
            </div>
            <div class="boxImg d-flex justify-content-center ">
                <img src="assets/img/cabin.png" alt="">
            </div>
            <div class="py-4 text-center d-flex justify-content-center align-items-center">
                <p class="w-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                    nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod
                    consequuntur itaque.
                    Nam.</p>

            </div>
            <div class=" d-flex justify-content-center align-items-center py-2 ">
                <button class="btn" (click)="unshow()"> Close Window</button>
            </div>
        </div>
    </div>
    <div class="py-4  d-flex justify-content-center align-items-center flex-column">
        <div class="py-2">
            <h2 class="">PORTFOLIO</h2>
        </div>
        <div class="icon">
            <i class="fa-solid fa-star fs-1"></i>
        </div>
    </div>
    
    <section class="mt-2">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/cabin.png" alt="" >
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/cake.png" alt="">
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/circus.png " alt="" >
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/game.png" alt="" >
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/safe.png" alt="" >
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 " (click)="show()">
                    <div class="porImg">
                        <img src="assets/img/submarine.png" alt="" >
                        <div class="layar d-flex justify-content-center align-items-center">
                            <div class=" text-white">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
</div>